<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Maven Project">

	<test name="Sample Maven Project Test Cases">
		<packages>
			<!--For Execute Matk Package Test Cases-->
<!--			<package name="com.softwaretestingo.math.*" />-->
			
			<!--For Execute Launch Package Test Cases-->
			<package name="com.softwaretestingo.launch.*" />
		</packages>
	</test>
</suite>